*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

.env
layer

# リダイレクト Lambda 用途
!src/redirect/*
!.eslintrc.js